@mixin search(){
    form{
        flex-grow: 5;
        
        
        background-color: $color-second;
        i{
            padding: 10px;
            
            color: $color-primary;
            background-color: $color-second;
            transition: all 0.6s;
            
            
            &:hover{
            color: $color-second;
            background-color: $color-primary;
            cursor: pointer;
            }
        }

       
    }
}